<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
    <style>
        .gameWrapper {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 25px;
            height: 0;
            max-width: 60%;
            width: 100%;
            height: 50%;
        }
        .gameWrapper iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 1920px;
            height: 100%;
        }
    </style>
</head>
<body>
    <h1 align="center">BOZI BOZI</h1>
    <div class="gameWrapper">
        <iframe src="https://previews.customer.envatousercontent.com/files/284246327/index.html" allowfullscreen></iframe>
    </div>
    <script>
        const socket = new WebSocket('ws://127.0.0.1:8000/ws/orders/');

        socket.onopen = function (e) {
            console.log('WebSocket connection established');
        };

        socket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log('Order update:', data);
        };

        socket.onclose = function (e) {
            console.error('WebSocket closed unexpectedly', e);
        };

        socket.onerror = function (e) {
            console.error('WebSocket error:', e);
        };
    </script>
</body>
</html>
